    <div id="nav">
        <ul>
            <li class="left"><a href="/">Accueil <i class="fas fa-home"></i></a></li>
            <li class="left"><a href="servers">Serveurs <i class="fas fa-server"></i></a></li>
            <li class="left"><a href="LinkedAccounts">Comptes liés <i class="fas fa-link"></i></a></li>
            <li class="right"><a href="info">Raw datas <i class="fas fa-database"></i></a></li>
            <li class="right"><a href="https://github.com/MarcosPizza">Marco <i class="fab fa-github"></i></a></li>
            <li class="right"><a href="logout">Déconnexion <i class="fas fa-door-open"></i></a></li>
        </ul>
    </div>
